<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>Content</key>
			<string>What is 65/13? 🤔</string>
		</dict>
		<dict>
			<key>SpoilerButtonTitle</key>
			<string>Show answer</string>
			<key>Content</key>
			<string>`ADD(5)`</string>
		</dict>
	</array>
</dict>
</plist>
